
:host
.playerStats{
    display: flex;
    flex-direction: column;
}
.sectionHeader {
    padding: 5%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 24px;
    font-weight: 500;
}