@import '~@angular/material/theming';
@import '../styles';

@include mat-core();

$theme-primary: mat-palette($mat-deep-purple);
$theme-accent: mat-palette($mat-blue-grey, A200, A100, A400);
$theme-warn: mat-palette($mat-red);
$theme: mat-dark-theme($theme-primary, $theme-accent, $theme-warn);
//
@include theme-color-grabber($theme);
@include angular-material-theme($theme);