<mat-grid-list cols="3" rowHeight="100%">
  <mat-grid-tile id="left-sidebar">
    <div class="playerStats">
      <h1 class="sectionHeader">Player Stats</h1>
      <div>
        <mat-form-field appearance="legacy" class="attackBonusValue">
          <mat-label>Attack Bonus</mat-label>
          <input
            matInput
            required
            [(ngModel)]="player.attackBonus"
            [value]="player.attackBonus"
            (input)="recalculateValues()"
            required
          />
        </mat-form-field>
        <mat-button-toggle-group [(ngModel)]="player.polarity">
          <mat-button-toggle (change)="recalculateValues()" [value]="1">
            <mat-icon>add</mat-icon>
          </mat-button-toggle>
          <mat-button-toggle (change)="recalculateValues()" [value]="-1">
            <mat-icon>remove</mat-icon>
          </mat-button-toggle>
        </mat-button-toggle-group>
        <mat-form-field appearance="legacy" class="attackDamage">
          <mat-label>Damage Di(c)e Quantity</mat-label>
          <input
            matInput
            required
            [(ngModel)]="player.attackDiceQuantity"
            [value]="player.attackDiceQuantity"
            (input)="recalculateValues()"
            required
          />
        </mat-form-field>
        <mat-form-field appearance="fill" class="attackDamage">
          <mat-label>Damage Die</mat-label>
          <mat-select
            (selectionChange)="recalculateValues()"
            [(ngModel)]="selectedDie"
            [value]="selectedDie"
          >
            <mat-option *ngFor="let die of dice" [value]="die">
              {{ die }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="enemyStats">
      <h1 class="sectionHeader">Enemy Stats</h1>
      <div>
        <mat-form-field appearance="legacy" class="dprValue">
          <mat-label>Armor Class</mat-label>
          <input
            matInput
            required
            [(ngModel)]="enemy.armorClass"
            [value]="enemy.armorClass"
            (input)="recalculateValues()"
            required
          />
        </mat-form-field>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="results">
      <h1 class="sectionHeader">Results</h1>
      <div>
        <h1>Flat Roll</h1>
        <p *ngIf="debug">Attack Bonus: {{ player.attackBonus }}</p>
        <p *ngIf="debug">
          Attack Damage Modifier: {{ player.attackDamageModifier }}
        </p>
        <p *ngIf="debug">Attack Damage Die Value: {{ player.attackDamage }}</p>
        <p *ngIf="debug">
          Attack Di(c)e Quantity: {{ player.attackDiceQuantity }}
        </p>
        <p *ngIf="debug">Polarity: {{ player.polarity }}</p>
        <p *ngIf="debug">Enemy Armor Class: {{ enemy.armorClass }}</p>
        <p *ngIf="debug">
          Average Attack Die Roll: {{ dprCalculations.averageDieRoll }}
        </p>
        <p *ngIf="debug">Selected Die: {{ selectedDie }}</p>
        <p>Chance to Hit: {{ dprCalculations.fChanceToHit }}</p>
        <p>Average Damage Per Round: {{ dprCalculations.aDPR }}</p>
      </div>
      <hr class="rounded" />
      <div>
        <h2>Advantage</h2>
        <p>Chance to Hit: {{ dprCalculations.aChanceToHit }}</p>
        <p>Average Damage Per Round: {{ dprCalculations.aDPR }}</p>
      </div>
      <hr class="rounded" />
      <div>
        <h2>Disadvantage</h2>
        <p>Chance to Hit: {{ dprCalculations.dChanceToHit }}</p>
        <p>Average Damage Per Round: {{ dprCalculations.aDPR }}</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
