@use 'sass:map';
@import '../theme.scss';

.playerStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    padding: 5%
}

.enemyStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    padding: 5%
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    width: 100%;
    height: 100%;
    padding-top: 5%
}

.attackBonusValue {
    padding-right: 2em;
}

.grid-layout-custom {
    width: 50vw;
    height: 50vh;
}

.attackDamage {
    width: 40%;
    padding-left: 5%;
    padding-right: 5%;
}

.sectionHeader {
    justify-content: center;
}